.sidebar {
  // width: 250px;
  position: absolute;
  left: 0;
  top: 80px;
  background: #f9f9f9;
  border-right: 1px solid #d9d9d9;

  height: 100%;
  z-index: 700;
  padding-top: 20px;
  padding-left: 30px;
}
